<center><p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @book.kind %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @book.quantity %>
</p>

<p>
  <strong>Country:</strong>
  <%= @book.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @book.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @book.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @book.city %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @book.mobile %>
</p>

</center>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', root_path %>